@mixin text-reg {
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin text-bold {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: normal;
}
@mixin text-extra-bold {
	font-family: proxima-nova, sans-serif;
	font-weight: 800;
	font-style: normal;
}
////////////////////////////////////////////////////
//////////BUTTONS//////////////////////////////////
////////////////////////////////
@mixin primary-btn($color, $text-color) {
	background: $color;
	color: $text-color;
	padding: 0.65rem 1.8rem;
	min-width: 7rem;
	border-radius: 3px;
	border: 0;
	transition: all 0.3s ease;
	font-size: 1rem;
	box-shadow: 0 1px 20px rgba(109, 107, 107, 0.308);
	&:hover {
		cursor: pointer;
		box-shadow: 0 0 0 0 transparent;
	}
}
@mixin request-btn($color, $text-color) {
	background: $color;
	color: $text-color;
	padding: 0.65rem 1rem;
	min-width: 4rem;
	border-radius: 3px;
	border: 0;
	transition: all 0.3s ease;
	font-size: 0.7rem;
	box-shadow: 0 1px 20px rgba(109, 107, 107, 0.308);
	&:hover {
		cursor: pointer;
		box-shadow: 0 0 0 0 transparent;
	}
}

@mixin theme-colors($theme-dark: true) {
	@if $theme-dark {
		background-color: $brand-dark-mode;
		color: $brand-dark-mode-text;
	} @else {
		background-color: $brand-light-theme;
		color: $brand-text-dark;
	}
}

@mixin theme-colors-fade($theme-dark: true, $background-fade: true) {
	@if $theme-dark == true and $background-fade == true {
		background-color: $brand-dark-mode-faded;
	} @else if $theme-dark != true and $background-fade == true {
		background-color: $brand-accent-faded;
	}
}

@mixin theme-text-colors($theme-dark: true) {
	@if $theme-dark {
		color: $brand-dark-mode-text;
	} @else {
		color: $brand-text-dark;
	}
}
