$brand-main: #190933;
$brand-main-faded: #4356ad1e;
$brand-dark: #091540;
$brand-accent: #335c67;
$brand-accent-faded: #335c6728;
$brand-contrast: #db504a;
$brand-contrast-faded: #db4f4a50;
$brand-success: #5ab1bb;
$brand-text-light: #f9f9f9;
$brand-text-dark: #335c67;

$brand-light-color: #fffcf2;
$brand-dark-mode: #0c1821;
$brand-dark-mode-faded: #0c182152;
$brand-dark-mode-accent: #ab4e68;
$brand-dark-mode-accent-faded: #ab4e6863;
$brand-dark-mode-text: #759aab;
$brand-dark-mode-bg-faded: #759aab26;
$brand-dark-mode-contrast: #3772ff;
$brand-dark-mode-contrast-faded: #3773ff8c;
