$brand-main: #190933;
$brand-main-faded: #4356ad1e;
$brand-dark: #091540;
$brand-accent: #335c67;
$brand-accent-faded: #335c6728;
$brand-contrast: #db504a;
$brand-contrast-faded: #db4f4a50;
$brand-success: #04a776a1;
$brand-text-light: #f9f9f9;
$brand-text-dark: #335c67;
$brand-light-theme: #f9f9f9;

$brand-dark-mode: #190933;
$brand-dark-mode-faded: #190933;
$brand-dark-mode-accent: #4f6d7a;
$brand-dark-mode-accent-faded: #4f6d7a4b;
$brand-dark-mode-text: #4f6d7a;
$brand-dark-mode-contrast: #db504a;
$brand-dark-mode-contrast-faded: #db4f4a50;
