@import '../../../sass/variables';

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	box-shadow: 0 1px 10px $brand-main-faded;
	padding: 2vh 0;
	border-radius: 3px;
}
