@import '../../../sass/variables';

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	box-shadow: 0 1px 10px $brand-main-faded;
	padding: 1vh 0;
	border-radius: 3px;
	width: 100%;
	padding: 1rem;
	& .inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		& p {
			color: $brand-accent;
		}
		& .toggle_open {
			width: 8rem;
			height: 2.5rem;
			color: #fff;
			border-radius: 3px;
			background: $brand-success;
			border: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;
			&:hover {
				cursor: pointer;
				box-shadow: 0 1px 10px $brand-success;
			}
		}
		& .toggle_close {
			width: 2.5rem;
			height: 2.5rem;
			color: #fff;
			border-radius: 3px;
			background: $brand-contrast-faded;
			border: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;
			& svg {
				font-size: 1.2rem;
			}
			&:hover {
				cursor: pointer;
				box-shadow: 0 1px 10px $brand-contrast-faded;
			}
		}
		& .heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		& .input_container {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 0.5rem 0;

			& textarea {
				resize: none;
				height: 7rem;
				padding: 0.5rem;
				background: $brand-main-faded;
				transition: all 0.3s ease;
				border-radius: 3px;
				border: 3px solid transparent;

				&:hover,
				&:active {
					border: 3px solid $brand-accent-faded;
				}
				&:focus {
					outline: 3px solid transparent;
				}
			}
			& input {
				padding: 0.5rem 0;
				background: $brand-main-faded;
				text-indent: 0.5rem;
				transition: all 0.3s ease;
				border-radius: 3px;
				border: 3px solid transparent;
				&:hover,
				&:active {
					border: 3px solid $brand-accent-faded;
				}
				&:focus {
					outline: 3px solid transparent;
				}
			}
			& label {
				color: $brand-accent;
				margin: 0.5rem 0;
			}
		}
		& .actions {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-top: 0.7rem;
			align-self: flex-end;
			width: 100%;
			& span {
				color: #999;
			}
			& .danger_length {
				color: $brand-contrast;
			}
			& .good_length {
				color: $brand-accent;
			}
			& .add_img_btn {
				border: 0;
				background: transparent;
				overflow: visible;
				display: flex;
				align-items: center;
				& svg {
					background: $brand-main-faded;
					color: #999;
					padding: 0.6rem;
					border-radius: 50%;
					font-size: 1.2rem;
					transition: all 0.3s ease;
					&:hover {
						cursor: pointer;
						color: #fff;
						background: $brand-accent;
						box-shadow: (0 1px 10px $brand-accent);
					}
				}
			}
			& .submit_btn {
				height: 2.5rem;
				width: 6rem;
				background: $brand-main;
				color: #fff;
				border: 0;
				transition: all 0.3s ease;
				border-radius: 3px;
				&:hover {
					cursor: pointer;
					box-shadow: 0 1px 5px $brand-main;
				}
			}
		}
	}
}
