@import '../../sass/variables';

.db_container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	& .db_grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 2rem;
		justify-items: center;
		& .db_col {
			min-width: 25vw;
			min-height: 30vh;
			padding: 1rem;
			border-radius: 5px;
			border: 2px solid lighten($brand-dark-mode, 3%);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			& h2 {
				font-size: 1.9vw;
			}
			& .color_one {
				color: $brand-dark-mode-text;
			}
			& .color_two {
				color: $brand-dark-mode-text;
			}
			& .color_three {
				color: $brand-dark-mode-text;
			}
			& button {
				display: flex;
				align-items: center;
				justify-content: center;
				background: $brand-dark-mode-accent;
				border: 0;
				border-radius: 5px;
				color: #fff;
				height: 3rem;
				font-size: 1vw;
				width: 6vw;
				box-shadow: 0 1px 10px 3px lighten($brand-dark-mode, 2%);
				transition: all 0.3s ease;
				text-transform: uppercase;
				&:hover {
					cursor: pointer;
					box-shadow: 0 1px 1px darken($brand-main, 5%);
				}
			}
		}
	}
}
