@import '../../sass/variables';

.section {
	width: 100%;
	display: flex;
	justify-content: center;
	background: $brand-main-faded;
	padding: 2rem 0;
	& .container {
		margin-top: 10vh;
		display: grid;
		grid-template-columns: 1fr;
		gap: 2vh 0;
	}
}
