@import '../../sass/variables';

.section {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	min-height: 60vh;
	& .container {
		margin-top: 0vh;
		display: grid;
		grid-template-columns: repeat(3, auto);
		align-items: flex-start;
		gap: 2vh 1vw;
		width: 100%;
		& .post_create {
			display: flex;
			flex-direction: column;
		}
		& .feed {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1vh 0;
		}
	}
}
