@import '../sass/mixins';
@import '../sass/variables';

$theme-dark: true;
$background-fade: false;
.main {
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
	@include theme-colors($theme-dark);
}
