@import '../../sass/variables';

.spinner {
	height: 1.5rem;
	width: 1.5rem;
	border: 2px solid transparent;
	border-top: 2px solid $brand-accent;
	border-bottom: 2px solid $brand-accent;
	border-radius: 50%;
	display: block;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
