@import '../../../sass/variables';

.slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	width: 100%;
	& p {
		color: #666;
	}
	& .img_container {
		width: 100%;
		background: #eee;
		border-radius: 5px;
		padding: 5rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 4px solid transparent;
		& svg {
			width: 5rem;
			size: 3rem;
			color: #999;
		}
		&:hover {
			cursor: grabbing;
			animation: animateborder 3s linear infinite;
		}
	}
	& .buttons {
		width: 100%;
		border-top: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;
		margin-top: 2rem;
		& .save_btn {
			padding: 0.7rem 2.5rem;
			background: $brand-success;
			border-radius: 5px;
			border: 0;
			box-shadow: 0 1px 4px #999;
			color: #fff;
			transition: all 0.3s ease;
			&:hover {
				cursor: pointer;
				box-shadow: 0 0 0 0 transparent;
			}
		}
		& .next_btn {
			padding: 0.7rem 2.5rem;
			background: $brand-main;
			border-radius: 5px;
			border: 0;
			box-shadow: 0 1px 4px #112;
			color: #fff;
			transition: all 0.3s ease;
			&:hover {
				cursor: pointer;
				box-shadow: 0 0 0 0 transparent;
			}
		}
		& .skip_btn {
			padding: 0.7rem 2.5rem;
			background: $brand-accent;
			border-radius: 5px;
			border: 0;
			box-shadow: 0 1px 4px #999;
			color: #fff;
			transition: all 0.3s ease;
			&:hover {
				cursor: pointer;
				box-shadow: 0 0 0 0 transparent;
				background: $brand-accent-faded;
			}
		}
	}
}

@keyframes animateborder {
	0% {
		border: 4px solid transparent;
		border-top: 4px solid $brand-accent;
	}
	25% {
		border-right: 4px solid $brand-main;
	}
	50% {
		border-bottom: 4px solid $brand-success;
	}
	75% {
		border-left: 4px solid $brand-success;
	}
	100% {
		border: 4px solid transparent;
	}
}
