@import '../../../sass/variables';
@import '../../../sass/mixins';

.slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	width: 100%;
	& p {
		color: #666;
	}
	& .img_container {
		width: 100%;
		border-radius: 5px;
		padding: 5rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 4px solid transparent;
		@include theme-colors-fade($theme-dark: false, $background-fade: true);
		& svg {
			width: 5rem;
			size: 3rem;
			color: #999;
		}
		&:hover {
			cursor: grabbing;
			animation: animateborder 3s linear infinite;
		}
	}
	& .buttons {
		width: 100%;
		border-top: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;
		margin-top: 2rem;
		& .save_btn {
			@include primary-btn($brand-success, $brand-text-light);
		}
		& .next_btn {
			@include primary-btn($brand-main, $brand-text-light);
		}
		& .back_btn {
			@include primary-btn($brand-contrast, $brand-text-light);
		}
	}
}

@keyframes animateborder {
	0% {
		border: 4px solid transparent;
		border-top: 4px solid $brand-accent;
	}
	25% {
		border-right: 4px solid $brand-main;
	}
	50% {
		border-bottom: 4px solid $brand-success;
	}
	75% {
		border-left: 4px solid $brand-success;
	}
	100% {
		border: 4px solid transparent;
	}
}
