@import '../../../sass/variables';
@import '../../../sass/mixins';

.slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	width: 100%;
	& p {
		color: #666;
	}
	& .form_container {
		margin: 1rem 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		& label {
			margin-bottom: 0.5rem;
		}
	}
	& .people_results {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 30vh;
		width: 100%;
		&__content {
			display: flex;
			flex-direction: column;
			width: 90%;
			padding: 1.5rem;
			box-shadow: inset 0px 0px 2px #eee;
			@include theme-colors-fade($theme-dark: false, $background-fade: true);
			& .person_row {
				border-bottom: 1px solid #eee;
				display: flex;
				align-items: center;
				justify-content: space-between;
				& .avatar_container {
					max-width: 1.5rem;
					& img {
						max-width: 100%;
						object-fit: contain;
						border-radius: 50%;
					}
				}
			}
		}
	}
	& .buttons {
		width: 100%;
		border-top: 1px solid #eee;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0;
		margin-top: 2rem;
		& .save_btn {
			@include primary-btn($brand-success, $brand-text-light);
		}
		& .next_btn {
			@include primary-btn($brand-main, $brand-text-light);
		}
		& .back_btn {
			@include primary-btn($brand-contrast, $brand-text-light);
		}
		&__right {
			& button {
				margin: 0 1rem;
			}
		}
	}
}
