@import '../../sass/mixins';
@import '../../sass/variables';

$theme-dark: true;

.footer {
	min-height: 30vh;
	display: flex;
	padding-top: 5rem;
	@include theme-colors($theme-dark);
	@if $theme-dark == true {
		border-top: 2px solid lighten($brand-dark-mode, 3%);
	}
}
