@import '../sass/variables.scss';
@import '../sass/mixins';

$theme-dark: true;
$background-fade: true;
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	@include theme-colors($theme-dark);
	@if $theme-dark == true {
		border-bottom: 2px solid lighten($brand-dark-mode, 3%);
	} @else {
		border-bottom: 2px solid $brand-accent-faded;
	}
	& .inner {
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& .nav_left {
			& a {
				& img {
					max-width: 10rem;
				}
			}
		}
		& .nav_right {
			& a {
				text-decoration: none;
				margin: 0 0.5rem;
				@include theme-text-colors($theme-dark);
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
