@import '../sass/variables.scss';

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	border: 1px solid #eee;

	& .inner {
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& .nav_left {
			& a {
				text-decoration: none;
				font-family: futura-pt, sans-serif;
				font-weight: 800;
				font-style: normal;
				color: $brand-main;
				font-size: 1.5rem;
				& img {
					max-width: 10rem;
				}
			}
		}
		& .nav_right {
			& a {
				text-decoration: none;
				margin: 0 0.5rem;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
