@import '../sass/variables.scss';

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	box-shadow: 0 1px 5px darken(#eee, 10%);

	& .inner {
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& .nav_left {
			& a {
				text-decoration: none;
				font-family: futura-pt, sans-serif;
				font-weight: 800;
				font-style: normal;
				color: $brand-main;
				font-size: 1.5rem;
			}
		}
		& .nav_right {
			& a {
				text-decoration: none;
				margin: 0 0.5rem;
			}
		}
	}
}
